.services{
    height: 768px;
    width: 100%;
    background-image: url(../../assets/img/section4-image.png);
    background-position: right;
    background-repeat: no-repeat;
}

.acordeon-1{
    border: 1px solid #E3E3E3;
    width: 669px;
    height: 64px;
    background-color: #F8F8F8;
    margin: 144px 596px 560px 101px;
    position: absolute;
}

.acordeon-1 h3{
    font-size: 16px;
    color: #5F6368;
    width: 137px;
    height: 21px;
    position: absolute;
    margin: 22px 495px 21px 37px;
}

.acordeon-1 img{
    width: 12px;
    height: 6px;
    position: absolute;
    margin: 29px 37px 28px 619px;
}

.acordeon-2{
    border: 1px solid #E3E3E3;
    width: 669px;
    height: 184px;
    background-color: white;
    position: absolute;
    margin: 208px 596px 376px 101px;
}

.acordeon-2 p{
    font-size: 16px;
    color: #5F6368;
    line-height: 28px;
    width: 595px;
    height: 105px;
    margin: 39px 37px;
}

.acordeon-3{
    border: 1px solid #E3E3E3;
    width: 669px;
    height: 64px;
    background-color: #F8F8F8;
    margin: 392px 596px 312px 101px;
    position: absolute;
}

.acordeon-3 h3{
    font-size: 16px;
    color: #5F6368;
    width: 196px;
    height: 21px;
    position: absolute;
    margin: 22px 495px 21px 37px;
}

.acordeon-3 img{
    width: 12px;
    height: 6px;
    position: absolute;
    margin: 29px 37px 28px 619px;
}

.acordeon-4{
    border: 1px solid #E3E3E3;
    width: 669px;
    height: 64px;
    background-color: #F8F8F8;
    margin: 456px 596px 248px 101px;
    position: absolute;
}

.acordeon-4 h3{
    font-size: 16px;
    color: #5F6368;
    width: 221px;
    height: 21px;
    position: absolute;
    margin: 22px 495px 21px 37px;
}

.acordeon-4 img{
    width: 12px;
    height: 6px;
    position: absolute;
    margin: 29px 37px 28px 619px;
}